@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');
body {
  margin: 0;
  .miniNovbar {
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid rgb(87, 87, 87) ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    div{
        height: 90%;
        width: 16%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      img {
        width: 15vw;
        height: 100%;
        margin-right: 20px;
      }
      h1{
        
        font-weight:800;
      }
    }
  }
  .cartCon{
    width: 80%;
    margin: 8px auto;
    border-left: 1px solid rgb(189, 188, 188);
    border-right: 1px solid rgb(189, 188, 188);
    .title{
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        border-bottom: 1px solid;
        h5{
         margin-left: 15px;
         font-family: 'Plus Jakarta Sans', sans-serif;
         font-weight:800;
        }
    }
    .cart{
        width: 95%;
        margin: 5px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-bottom: 1px solid;
        .cartImg{
            width: 12vw;
            height: 25vh;
            border: 2px solid rgb(250, 73, 73);
            margin-bottom: 5px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .portion{
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            div:nth-child(1){
                display: flex;
                justify-content: center;
                align-items: center;
                h3{
                  font-family: 'Plus Jakarta Sans', sans-serif;
                }
            }
            div:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;
                height: 30%;
                border: 1px solid rgb(73, 73, 73);
                border-radius: 5px;
                button{
                  font-size: 30px;
                  width: 4vw;
                  height: 100%;
                  background-color: rgb(250, 73, 73);
                
                }
                h5{
                  font-size: 15px;
                  color: rgb(250, 73, 73);
                }
            }
        }
        .priceCon{
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
         h4{
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-weight: 700;
         }
       button{
        background-color: rgb(247, 247, 247);
        border: 2px solid rgb(247, 247, 247); 
        font-size: 20px;
        color: rgb(250, 73, 73);
        transition: 0.2s;
       }
       button:hover{
        color: rgb(211, 68, 68);
       }
        }
    }
  }
}
